openapi: 3.1.0
info:
  title: FastAPI
  version: 0.1.0
servers:
  - url: https://api.galileo.ai
    description: Galileo Client APIs - galileo-v2
paths:
  /healthcheck:
    get:
      tags:
        - health
      summary: Healthcheck
      operationId: healthcheck_healthcheck_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthcheckResponse'
  /login:
    post:
      tags:
        - auth
      summary: Login Email
      operationId: login_email_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /login/api_key:
    post:
      tags:
        - auth
      summary: Login Api Key
      operationId: login_api_key_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/prompt_datasets:
    post:
      tags:
        - datasets
      summary: Upload Prompt Evaluation Dataset
      operationId: upload_prompt_evaluation_dataset_projects__project_id__prompt_datasets_post
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: format
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DatasetFormat'
            default: csv
        - name: hidden
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Hidden
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_prompt_evaluation_dataset_projects__project_id__prompt_datasets_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - datasets
      summary: List Prompt Datasets
      operationId: list_prompt_datasets_projects__project_id__prompt_datasets_get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets:
    post:
      tags:
        - datasets
      summary: Create Dataset
      description: Creates a standalone dataset.
      operationId: create_dataset_datasets_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: format
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DatasetFormat'
            default: csv
        - name: hidden
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Hidden
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_dataset_datasets_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - datasets
      summary: List Datasets
      operationId: list_datasets_datasets_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: actions
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DatasetAction'
            description: Actions to include in the 'permissions' field.
            title: Actions
          description: Actions to include in the 'permissions' field.
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/bulk_delete:
    delete:
      tags:
        - datasets
      summary: Bulk Delete Datasets
      description: "Delete multiple datasets in bulk.\n\nThis endpoint allows efficient\
        \ deletion of multiple datasets at once.\nIt validates permissions for each\
        \ dataset in the service and provides detailed feedback about\nsuccessful\
        \ and failed deletions for each dataset.\n\nParameters\n----------\ndelete_request\
        \ : BulkDeleteDatasetsRequest\n    Request containing list of dataset IDs\
        \ to delete (max 100)\nctx : Context\n    Request context including authentication\
        \ information\n\nReturns\n-------\nBulkDeleteDatasetsResponse\n    Details\
        \ about the bulk deletion operation including:\n    - Number of successfully\
        \ deleted datasets\n    - List of failed deletions with reasons\n    - Summary\
        \ message"
      operationId: bulk_delete_datasets_datasets_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteDatasetsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDatasetsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
  /datasets/{dataset_id}:
    get:
      tags:
        - datasets
      summary: Get Dataset
      operationId: get_dataset_datasets__dataset_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
        - datasets
      summary: Update Dataset
      operationId: update_dataset_datasets__dataset_id__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - datasets
      summary: Delete Dataset
      operationId: delete_dataset_datasets__dataset_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/query:
    post:
      tags:
        - datasets
      summary: Query Datasets
      operationId: query_datasets_datasets_query_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: actions
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DatasetAction'
            description: Actions to include in the 'permissions' field.
            title: Actions
          description: Actions to include in the 'permissions' field.
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/prompt_datasets/{dataset_id}:
    put:
      tags:
        - datasets
      summary: Update Prompt Dataset
      operationId: update_prompt_dataset_projects__project_id__prompt_datasets__dataset_id__put
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: file_name
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: File Name
        - name: num_rows
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: 'null'
            title: Num Rows
        - name: format
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DatasetFormat'
            default: csv
        - name: hidden
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Hidden
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_update_prompt_dataset_projects__project_id__prompt_datasets__dataset_id__put'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - datasets
      summary: Delete Prompt Dataset
      operationId: delete_prompt_dataset_projects__project_id__prompt_datasets__dataset_id__delete
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - datasets
      summary: Download Prompt Dataset
      operationId: download_prompt_dataset_projects__project_id__prompt_datasets__dataset_id__get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/content:
    patch:
      tags:
        - datasets
      summary: Update Dataset Content
      description: 'Update the content of a dataset.


        The `index` and `column_name` fields are treated as keys tied to a specific
        version of the dataset.

        As such, these values are considered immutable identifiers for the dataset''s
        structure.


        For example, if an edit operation changes the name of a column, subsequent
        edit operations in

        the same request should reference the column using its original name.


        The `If-Match` header is used to ensure that updates are only applied if the
        client''s version of the dataset

        matches the server''s version. This prevents conflicts from simultaneous updates.
        The `ETag` header in the response

        provides the new version identifier after a successful update.'
      operationId: update_dataset_content_datasets__dataset_id__content_patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: If-Match
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            description: ETag of the dataset as a version identifier.
            title: If-Match
          description: ETag of the dataset as a version identifier.
          example: d89cce33-549d-4b6d-b220-afb641d859c8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetContentRequest'
      responses:
        '204':
          description: Dataset content updated successfully
          headers:
            ETag:
              description: New version identifier for the dataset
              schema:
                type: string
        '404':
          description: Dataset not found
        '412':
          description: ETag mismatch; client's If-Match does not match current resource
            version
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be
            in progress
    get:
      tags:
        - datasets
      summary: Get Dataset Content
      operationId: get_dataset_content_datasets__dataset_id__content_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - datasets
      summary: Upsert Dataset Content
      description: Rollback the content of a dataset to a previous version.
      operationId: upsert_dataset_content_datasets__dataset_id__content_put
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/RollbackRequest'
                - $ref: '#/components/schemas/UpsertDatasetContentRequest'
              title: Body
      responses:
        '204':
          description: Dataset content upserted successfully
        '404':
          description: Dataset not found
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be
            in progress
  /datasets/{dataset_id}/download:
    get:
      tags:
        - datasets
      summary: Download Dataset
      operationId: download_dataset_datasets__dataset_id__download_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/preview:
    post:
      tags:
        - datasets
      summary: Preview Dataset
      operationId: preview_dataset_datasets__dataset_id__preview_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/content/query:
    post:
      tags:
        - datasets
      summary: Query Dataset Content
      operationId: query_dataset_content_datasets__dataset_id__content_query_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDatasetParams'
              default:
                filters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/users:
    post:
      tags:
        - datasets
      summary: Create User Dataset Collaborators
      operationId: create_user_dataset_collaborators_datasets__dataset_id__users_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Dataset Collaborators Datasets  Dataset
                  Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - datasets
      summary: List User Dataset Collaborators
      description: List the users with which the dataset has been shared.
      operationId: list_user_dataset_collaborators_datasets__dataset_id__users_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/groups:
    post:
      tags:
        - datasets
      summary: Create Group Dataset Collaborators
      description: Share a dataset with groups.
      operationId: create_group_dataset_collaborators_datasets__dataset_id__groups_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Dataset Collaborators Datasets  Dataset
                  Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - datasets
      summary: List Group Dataset Collaborators
      description: List the groups with which the dataset has been shared.
      operationId: list_group_dataset_collaborators_datasets__dataset_id__groups_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/users/{user_id}:
    patch:
      tags:
        - datasets
      summary: Update User Dataset Collaborator
      description: Update the sharing permissions of a user on a dataset.
      operationId: update_user_dataset_collaborator_datasets__dataset_id__users__user_id__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - datasets
      summary: Delete User Dataset Collaborator
      description: Remove a user's access to a dataset.
      operationId: delete_user_dataset_collaborator_datasets__dataset_id__users__user_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/groups/{group_id}:
    patch:
      tags:
        - datasets
      summary: Update Group Dataset Collaborator
      description: Update the sharing permissions of a group on a dataset.
      operationId: update_group_dataset_collaborator_datasets__dataset_id__groups__group_id__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - datasets
      summary: Delete Group Dataset Collaborator
      description: Remove a group's access to a dataset.
      operationId: delete_group_dataset_collaborator_datasets__dataset_id__groups__group_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/query:
    post:
      tags:
        - datasets
      summary: Query Dataset Versions
      operationId: query_dataset_versions_datasets__dataset_id__versions_query_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetVersionParams'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/{version_index}/content:
    get:
      tags:
        - datasets
      summary: Get Dataset Version Content
      operationId: get_dataset_version_content_datasets__dataset_id__versions__version_index__content_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: version_index
          in: path
          required: true
          schema:
            type: integer
            title: Version Index
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/{version_index}:
    patch:
      tags:
        - datasets
      summary: Update Dataset Version
      operationId: update_dataset_version_datasets__dataset_id__versions__version_index__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: version_index
          in: path
          required: true
          schema:
            type: integer
            title: Version Index
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetVersionDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/projects:
    get:
      tags:
        - datasets
      summary: List Dataset Projects
      operationId: list_dataset_projects_datasets__dataset_id__projects_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetProjectsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/extend:
    post:
      tags:
        - datasets
      summary: Extend Dataset Content
      description: Extends the dataset content
      operationId: extend_dataset_content_datasets_extend_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticDatasetExtensionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticDatasetExtensionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
  /datasets/extend/{dataset_id}:
    get:
      tags:
        - datasets
      summary: Get Dataset Synthetic Extend Status
      operationId: get_dataset_synthetic_extend_status_datasets_extend__dataset_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: dataset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProgress'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/paginated:
    post:
      tags:
        - projects
      summary: Get Projects Paginated
      description: 'Gets projects for a user with pagination.


        If provided, filters on project_name and project_type.'
      operationId: get_projects_paginated_projects_paginated_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: actions
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProjectAction'
            description: Actions to include in the 'permissions' field.
            title: Actions
          description: Actions to include in the 'permissions' field.
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCollectionParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/count:
    post:
      tags:
        - projects
      summary: Get Projects Count
      description: Gets total count of projects for a user with applied filters.
      operationId: get_projects_count_projects_count_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCollectionParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: integer
                title: Response Get Projects Count Projects Count Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
  /projects/all:
    get:
      tags:
        - projects
      summary: Get All Projects
      description: 'Gets all public projects and all private projects that the user
        has access to.


        For Enterprise SaaS Clusters, this will return all projects in the cluster.


        DEPRECATED in favor of `get_projects_paginated`.'
      operationId: get_all_projects_projects_all_get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: type
          in: query
          required: false
          schema:
            anyOf:
              - $ref: '#/components/schemas/ProjectType'
              - type: 'null'
            title: Type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDBThin'
                title: Response Get All Projects Projects All Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects:
    get:
      tags:
        - projects
      summary: Get Projects
      description: 'Gets projects for a user.


        If provided, filters on project_name and project_type.


        DEPRECATED in favor of `get_projects_paginated`.'
      operationId: get_projects_projects_get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_name
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: Project Name
        - name: type
          in: query
          required: false
          schema:
            anyOf:
              - $ref: '#/components/schemas/ProjectType'
              - type: 'null'
            title: Type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDB'
                title: Response Get Projects Projects Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - projects
      summary: Create Project
      description: Create a new project.
      operationId: create_project_projects_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
              examples:
                - name: my_first_project
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/upload_file:
    post:
      tags:
        - projects
      summary: Upload File
      operationId: upload_file_projects__project_id__upload_file_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_file_projects__project_id__upload_file_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /collaborator_roles:
    get:
      tags:
        - projects
      summary: Get Collaborator Roles
      operationId: get_collaborator_roles_collaborator_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CollaboratorRoleInfo'
                type: array
                title: Response Get Collaborator Roles Collaborator Roles Get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
  /projects/{project_id}:
    get:
      tags:
        - projects
      summary: Get Project
      operationId: get_project_projects__project_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - projects
      summary: Update Project
      operationId: update_project_projects__project_id__put
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
              examples:
                - name: my_updated_project
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - projects
      summary: Delete Project
      description: 'Deletes a project and all associated runs and objects.


        Any user with project access can delete a project.

        Note that `get_project_by_id` calls `user_can_access_project`.'
      operationId: delete_project_projects__project_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/users:
    post:
      tags:
        - projects
      summary: Create User Project Collaborators
      description: Share a project with users.
      operationId: create_user_project_collaborators_projects__project_id__users_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Project Collaborators Projects  Project
                  Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - projects
      summary: List User Project Collaborators
      description: List the users with which the project has been shared.
      operationId: list_user_project_collaborators_projects__project_id__users_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/groups:
    post:
      tags:
        - projects
      summary: Create Group Project Collaborators
      description: Share a project with groups.
      operationId: create_group_project_collaborators_projects__project_id__groups_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Project Collaborators Projects  Project
                  Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - projects
      summary: List Group Project Collaborators
      description: List the groups with which the project has been shared.
      operationId: list_group_project_collaborators_projects__project_id__groups_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/users/{user_id}:
    patch:
      tags:
        - projects
      summary: Update User Project Collaborator
      description: Update the sharing permissions of a user on a project.
      operationId: update_user_project_collaborator_projects__project_id__users__user_id__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - projects
      summary: Delete User Project Collaborator
      description: Remove a user's access to a project.
      operationId: delete_user_project_collaborator_projects__project_id__users__user_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/groups/{group_id}:
    patch:
      tags:
        - projects
      summary: Update Group Project Collaborator
      description: Update the sharing permissions of a group on a project.
      operationId: update_group_project_collaborator_projects__project_id__groups__group_id__patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - projects
      summary: Delete Group Project Collaborator
      description: Remove a group's access to a project.
      operationId: delete_group_project_collaborator_projects__project_id__groups__group_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams:
    post:
      tags:
        - log_stream
      summary: Create Log Stream
      description: Create a new log stream for a project.
      operationId: create_log_stream_projects__project_id__log_streams_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogStreamCreateRequest'
              examples:
                - name: my_first_log_stream
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - log_stream
      summary: List Log Streams
      description: 'Retrieve all log streams for a project.


        DEPRECATED in favor of `list_log_streams_paginated`.'
      operationId: list_log_streams_projects__project_id__log_streams_get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: include_counts
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Include Counts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LogStreamResponse'
                title: Response List Log Streams Projects  Project Id  Log Streams
                  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/paginated:
    get:
      tags:
        - log_stream
      summary: List Log Streams Paginated
      description: Retrieve all log streams for a project paginated.
      operationId: list_log_streams_paginated_projects__project_id__log_streams_paginated_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: include_counts
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Include Counts
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLogStreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/search:
    post:
      tags:
        - log_stream
      summary: Search Log Streams
      description: Search log streams for a project.
      operationId: search_log_streams_projects__project_id__log_streams_search_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogStreamSearchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLogStreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}:
    get:
      tags:
        - log_stream
      summary: Get Log Stream
      description: Retrieve a specific log stream.
      operationId: get_log_stream_projects__project_id__log_streams__log_stream_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: log_stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Log Stream Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - log_stream
      summary: Update Log Stream
      description: Update a specific log stream.
      operationId: update_log_stream_projects__project_id__log_streams__log_stream_id__put
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: log_stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Log Stream Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogStreamUpdateRequest'
              examples:
                - name: my_first_log_stream
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogStreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - log_stream
      summary: Delete Log Stream
      description: Delete a specific log stream.
      operationId: delete_log_stream_projects__project_id__log_streams__log_stream_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: log_stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Log Stream Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/metric_settings:
    patch:
      tags:
        - log_stream
      summary: Update Metric Settings
      operationId: update_metric_settings_projects__project_id__log_streams__log_stream_id__metric_settings_patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: log_stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Log Stream Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - log_stream
      summary: Get Metric Settings
      operationId: get_metric_settings_projects__project_id__log_streams__log_stream_id__metric_settings_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: log_stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Log Stream Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/traces/aggregated:
    post:
      tags:
        - trace
      summary: Get Aggregated Trace View
      operationId: get_aggregated_trace_view_projects__project_id__traces_aggregated_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregatedTraceViewRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedTraceViewResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/recompute-metrics:
    post:
      tags:
        - trace
      summary: Recompute Metrics
      operationId: recompute_metrics_projects__project_id__recompute_metrics_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecomputeLogRecordsMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments:
    get:
      tags:
        - experiment
      summary: List Experiments
      description: Retrieve all experiments for a project.
      operationId: list_experiments_projects__project_id__experiments_get
      deprecated: true
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: include_counts
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Include Counts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
                title: Response List Experiments Projects  Project Id  Experiments
                  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - experiment
      summary: Create Experiment
      description: Create a new experiment for a project.
      operationId: create_experiment_projects__project_id__experiments_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreateRequest'
              examples:
                - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/paginated:
    get:
      tags:
        - experiment
      summary: List Experiments Paginated
      description: Retrieve all experiments for a project with pagination.
      operationId: list_experiments_paginated_projects__project_id__experiments_paginated_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: include_counts
          in: query
          required: false
          schema:
            type: boolean
            default: false
            title: Include Counts
        - name: starting_token
          in: query
          required: false
          schema:
            type: integer
            default: 0
            title: Starting Token
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/search:
    post:
      tags:
        - experiment
      summary: Search Experiments
      description: Search experiments for a project.
      operationId: search_experiments_projects__project_id__experiments_search_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentSearchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}:
    get:
      tags:
        - experiment
      summary: Get Experiment
      description: Retrieve a specific experiment.
      operationId: get_experiment_projects__project_id__experiments__experiment_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: experiment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Experiment Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - experiment
      summary: Update Experiment
      description: Update a specific experiment.
      operationId: update_experiment_projects__project_id__experiments__experiment_id__put
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: experiment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Experiment Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdateRequest'
              examples:
                - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - experiment
      summary: Delete Experiment
      description: Delete a specific experiment.
      operationId: delete_experiment_projects__project_id__experiments__experiment_id__delete
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: experiment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Experiment Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/available_columns:
    post:
      tags:
        - experiment
      summary: Experiments Available Columns
      description: Procures the column information for experiments.
      operationId: experiments_available_columns_projects__project_id__experiments_available_columns_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsAvailableColumnsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}/metric_settings:
    patch:
      tags:
        - experiment
      summary: Update Metric Settings
      operationId: update_metric_settings_projects__project_id__experiments__experiment_id__metric_settings_patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: experiment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - experiment
      summary: Get Metric Settings
      operationId: get_metric_settings_projects__project_id__experiments__experiment_id__metric_settings_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: experiment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Experiment Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /jobs:
    post:
      tags:
        - jobs
      summary: Create Job
      operationId: create_job_jobs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
  /jobs/{job_id}:
    get:
      tags:
        - jobs
      summary: Get Job
      description: Get a job by id.
      operationId: get_job_jobs__job_id__get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/jobs:
    get:
      tags:
        - jobs
      summary: Get Jobs For Project Run
      description: 'Get all jobs by for a project and run.


        Returns them in order of creation from newest to oldest.'
      operationId: get_jobs_for_project_run_projects__project_id__runs__run_id__jobs_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Run Id
        - name: status
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: Status
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobDB'
                title: Response Get Jobs For Project Run Projects  Project Id  Runs  Run
                  Id  Jobs Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/jobs/latest:
    get:
      tags:
        - jobs
      summary: Get Latest Job For Project Run
      description: Returns the most recently updated job for a run.
      operationId: get_latest_job_for_project_run_projects__project_id__runs__run_id__jobs_latest_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/JobDB'
                  - type: 'null'
                title: Response Get Latest Job For Project Run Projects  Project Id  Runs  Run
                  Id  Jobs Latest Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/scorer-settings:
    patch:
      tags:
        - run_scorer_settings
      summary: Upsert Scorers Config
      operationId: upsert_scorers_config_projects__project_id__runs__run_id__scorer_settings_patch
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunScorerSettingsPatchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunScorerSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - run_scorer_settings
      summary: Upsert Scorers Config
      operationId: upsert_scorers_config_projects__project_id__runs__run_id__scorer_settings_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunScorerSettingsPatchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunScorerSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - run_scorer_settings
      summary: Get Settings
      operationId: get_settings_projects__project_id__runs__run_id__scorer_settings_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Run Id
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunScorerSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates:
    post:
      tags:
        - prompts
      summary: Create Prompt Template With Version
      description: "For a given project, create a prompt template.\n\nWe first create\
        \ a prompt template version, and then create a prompt template that\npoints\
        \ to that version as the selected version.\n\nParameters\n----------\nproject_id\
        \ : UUID4\n    Project ID.\ncreate_request : CreatePromptTemplateWithVersionRequestBody,\
        \ optional\n    Request body, by default Body( ...,\n        examples=\n \
        \       [BasePromptTemplateVersion.test_data() | BasePromptTemplate.test_data()],\n\
        \    )\ndb_read : Session, optional\n    Session object to execute DB reads,\
        \ by default Depends(get_db_read)\n\nReturns\n-------\nCreatePromptTemplateResponse\n\
        \    Details about the created prompt template."
      operationId: create_prompt_template_with_version_projects__project_id__templates_post
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptTemplateWithVersionRequestBody'
              examples:
                - template: tell me a story about {a} and {b}
                  raw: false
                  name: test_template
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
        - prompts
      summary: Get Project Templates
      description: "Get all prompt templates for a project.\n\nParameters\n----------\n\
        project_id : UUID4\n    Project ID.\nctx : Context, optional\n    User context\
        \ with database session, by default Depends(get_user_context)\n\nReturns\n\
        -------\nList[GetTemplateResponse]\n    List of prompt template responses."
      operationId: get_project_templates_projects__project_id__templates_get
      security:
        - APIKeyHeader: []
        - OAuth2PasswordBearer: []
        - HTTPBasic: []
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
            format: uuid4
            title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasePromptTemplateResponse'
[...]
