name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry==${{ vars.POETRY_V2_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: "poetry"
          python-version: ${{ matrix.python-version }}
          cache-dependency-path: "pyproject.toml"

      - name: Install invoke
        run: pipx install invoke

      - name: Install Dependencies
        run: invoke install

      - name: Validate Types
        run: |
          ls -la
          poetry run mypy --config-file pyproject.toml

      - name: Run Tests
        run: invoke test-report-xml

      - name: Upload Test Coverage Reports
        uses: codecov/codecov-action@v5.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
